.mon-bloc {
    display: block;
    width: 100vw;
    height: 100vh;
    background: purple;
}
.bloc-bleu {
    display: inline-block;
    width: 50%;
    height: 50%;
    background: blue;
}
.bloc-vert {
    display: inline-block;
    width: 50%;
    height: 50%;
    background: green;
}
.bloc-rouge {
    display: inline-block;
    width: 50%;
    height: 50%;
    background: red;
}